<!-- Header -->
<header>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <%= image_tag("logo.png", class: 'img-responsive')%>
      </div>
      <div class="col-md-12">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/IlTerzetto">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://facebook.com/ilterzettomusic">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/ilterzetto/">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.youtube.com/ilterzetto">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:ilterzettomusic@gmail.com">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<section id="support-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="section-heading">Contamos Contigo</h1>
      </div>
      <div class="col-md-12 text-center">
        <div class="container-video">
          <iframe class="video" src="https://www.youtube.com/embed/aYLTCGZ8KyE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="row">
          <h4 class="section-subheading">Para colaborar con nosotros puedes hacerlo a través de</h4>

          <div class="col-md-3 col-md-offset-1">
            <p><strong>Zelle:</strong></p>
            <p><i>rossagri_03@yahoo.com</i><br>  Rossmig Rivero</p>
          </div>
          <div class="col-md-3">
            <p><strong>GoFundMe:</strong><br></p>
            <p><a href="https://www.gofundme.com/1-for-il-terzetto-in-order-to-represent-venezuela" target="_blank">$1 for IL TERZETTO in order to represent Venezuela</a>
            </p>
          </div>
          <div class="col-md-3">
            <p><strong>Moneda Nacional:</strong><br></p>
            <p>
              BanCaribe - Cuenta Corriente<br>
              0114 0310 7131 0006 9155<br>
              Efraín Garcia<br>
              19.357.341<br>
              efrajn53@gmail.com
            </p>
          </div>
        </div>
        <p class="text-center"> Si deseas conversar con nosotros puedes hacerlo a través del número +584244269854</p>
      </div>
    </div>
  </div>
  
</section>
<section id='about'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <h1 class="section-heading">Il Terzetto</h1>
      </div>
      <div class="col-md-12">
          <p>Il Terzetto es una agrupación de Crossover Clásico (Ópera Pop) venezolana fundada en julio de 2015, instegrada por Víctor Quintana, Francisco Hernández y Efraín García. Una amalgama de tres prodigiosas voces que unen la técnica lírica del Bel Canto Italiano con la pasiín y frescura de la música popular; en especial la música latinoamericana. Desde su inicio ha contado con gran aceptación de propios y extraños, deleitando al público con su amplio repertorio en diversos idiomas como el español, inglés, italiano, y latín que recopilan Arias de ópera hasta la música venezonala. IL TERZETTO se perfila com una de las agrupaciones con mayor proyección en venezuela con calidad de exportación. <br> <br>
          De la mano de la Soprano venezolana Silena Martínez quien es la Vocal Coach de Il Terzetto, están en la pre-producción de su primer trabajo discográfico con el cual incursionarán en el mercado musical nacional y mundial. Su padrino musical es el Tenor Venezolano Miguel Sánchez Moreno quien actualmente reside en Sicilia, Italia.</p>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= image_tag("il_terzetto_1.png", class: 'img-responsive')%>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<section id='victor'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <h2 class="section-heading">Víctor Quintana</h2>
          <h4 class="section-subheading">Tenor</h4>
      </div>
      <div class="col-md-8">
          <p>Músico y cantante, natural de Tinaquillo. Licenciado en educación de la Universidad de Carabobo. Ha recebido clases de canto de los maestros Odalys Alamus (Soprano), Mariana Ortiz (Soprano), Rosángela Guzmán (Soprano) y  Silena Martínez (Soprano). Participó en el coro de la Facultad de Educación de la UC dirigido por Henry Infantes, en el coro internacional el ensamble "Les Trouver", Coro de Odontología UC, Coro de Ingeniería UC, Cantoría Cojedes e invitadi especial de la coral polifónica del Estado Cojedes. Primer lugar voz universitaria VI edición 1997. Ha participado en la obra barroca con la orquesta Sinfónica Juvenil del Estado Cojedes como solista, solista de la orquesta típica del Estado Cojedes.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("victor_quintana.png", class: 'img-responsive personal-pic')%>
      </div>
    </div>
  </div>
</section>
<section id='francisco'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <h2 class="section-heading">Francisco Hernández</h2>
          <h4 class="section-subheading">Tenor</h4>
      </div>
      <div class="col-md-4">
        <%= image_tag("francisco_hernandez.png", class: 'img-responsive personal-pic')%>
      </div>
      <div class="col-md-8">
          <p>Músico, arreglista, compositor y cantante, natural de Tinaquillo. Licenciado en educación musical de la Universidad de Carabobo. Fue profesor de canto del TMV (Tecnológico de Música de Valencia) por 2 años. Ha recebido clases de canto de los maestros Félix Formental (Bajo), Alemaira Veliz (Soprano), Euro Navas (Tenor), Sergio Marín (Tenor), Richar Hidalgo (Tenor), Silena Martínez (Soprano) y el español Alejandro Del Cerro (Tenor). Productor y promotor de eventos artísticos, director de coral y profesor de canto de música popular, director de la Orquesta Típica Venezolana, instructor de expresión corporal, cuatro, guitarra y piano complementario juvenil del Estado Cojedes como solista. Solista de la Orquesta Típica del Estado Cojedes.</p>
      </div>
    </div>
  </div>
</section>
<section id='efrain'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
          <h2 class="section-heading">Efraín García</h2>
          <h4 class="section-subheading">Barítono</h4>
      </div>
      <div class="col-md-8">
          <p>Músico, arreglista, compositor y cantante, natural de Tinaquillo. Licenciado en educación musical de la Universidad de Carabobo; profesor universitario y director de coral. Reconocido compositor de música llanera; ha realizado composiciones para películas de cine venezolano y para diversos cantantes a nivel nacional en diversos géneros. Fue profesor de la cátedra de guitarra y cuadro de la Orquesta Nuestra Señora del Socorro de Tinaquillo y director de la coral infaltil y juvenil de la Orquesta Sinfónica de Venezuela Núcleo Tinaquillo. Ha recebido clases de canto de los maestros Miguel Sánchez Moreno(Tenor), William Alvarado (Barítono) y Silena Martínez (Soprano); armonía y dirección coral con los maestros Juan Pablo Correa y Jorge Castillo y composición popular con el cantautor venezolano Frank Quintero.</p>
      </div>
      <div class="col-md-4">
        <%= image_tag("efrain_garcia.png", class: 'img-responsive personal-pic')%>
      </div>
    </div>
  </div>
</section>
<section id="contact_us">
  <div class="container">

    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <%= image_tag("logo.png", class: 'img-responsive')%>
      </div>
      <div class="col-md-12">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/IlTerzetto">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://facebook.com/ilterzettomusic">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/ilterzetto/">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://www.youtube.com/ilterzetto">
              <i class="fa fa-youtube"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:ilterzettomusic@gmail.com">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
